.menu-page {
    &__content {
        height: calc(100dvh - 25.625vw); /* 100vh - 82px */
        width: 100%;
        position: fixed;
        overflow: auto;
    }
}

@media screen and (min-width: 769px) {
    .menu-page {
        app-menu-header {
            display: none;
        }

        &__content {
            height: 100%;
            margin-top: 70px;
            padding: 0 80px;
        }
    }
}
