.children {
    padding: 10vw;
    min-height: 100%;

    h1 {
        margin: 0 0 7.5vw; /* 0 0 24px */
    }

    p {
        margin: 0 0 5vw; /* 0 0 16px */
    }
    
    .slider {
        width: 100%;
        height: 93.75vw; /* 300px */
        background-color: #000;
        overflow: hidden;
        position: relative;
    }

    .slides {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 400%;
        height: 93.75vw; /* 300px */
        animation: slide 9s infinite;
    }

    .slides img {
        width: 100%;
        height: 100%;
        max-width: none;
        object-fit: contain;
        background-color: #fff;
    }

    .slide {
        height: 93.75vw; /* 300px */
    }
}

@keyframes slide {
    0%   { transform: translateX(0%); }
    25%  { transform: translateX(-25%); }
    50%  { transform: translateX(-50%); }
    75%  { transform: translateX(-75%); }
    100% { transform: translateX(0%); }
}