.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fafbfd;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3.125vw; /* 10px */
        font-size: 5vw; /* 16px */

        img {
            width: 7.5vw; /* 24px */
        }

        &--active {
            background: #dbdbdb;
            box-shadow: 0 0 2.5vw rgb(0 0 0 / 25%); /* 0 0 8px */

            p {
                font-weight: bold;
            }
        }
    }
}